body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    color: #333;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    background-color: rgba(100, 20, 100, 0.5);
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0px;
}
.head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
}
.logo {
    width: 50px;
}
.menu-links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.menu-item {
    display: inline;
    margin: 0px 15px;
}
.menu-item-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.menu-item-link:hover {
    color: #ff6f61;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("https://img.vikna.if.ua/assets/gallery/2015/08/19/38916/603423__large.jpg") no-repeat center center/cover;
    height: 100vh;
    color: white;
}
.hero-info {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    width: 720px;
}
.hero-title {
    font-size: 64px;
    margin: 0px;
}
.hero-text {
    font-size: 24px;
    margin: 20px 0px;
}
.intro, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}
.intro-title, .destinations-title, .contact-title {
    font-size: 40px;
    margin-top: 20px;
    color: #333;
}
.card {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 20px;
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.card-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-left: 20px;
}
.card-content {
    text-align: left;
}
.card-title, .destination-title {
    color: #0073e6;
    margin-top: 0px;
}
.card-list {
    list-style: none;
    padding: 0px;
}
.card-list-item {
    margin: 10px 0px;
    font-size: 20px;
}
.footer {
    padding: 10px 0px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}
.destinations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.destination {
    margin: 15px;
    padding: 120px;
    background-color: #fff;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.destination:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.destination-img {
    width: 100%;
    border-radius: 10px;
}
.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
}
.form-label {
    display: block;
    font-weight: bold;
    margin: 10px 5px 0px 0px;
}
.form-input, .form-textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff6f61;
    font-size: 16px;
    cursor: pointer;
}
.form-button:hover {
    background-color: #e55a50;
}